@import "../../../styles/main.css";

.debug-panel {
    position: absolute;
    inset-block-end: 0; /* Bottom */
    inset-inline-end: 0; /* Right */

    display: block;

    margin: var(--spacing-md);
    padding: var(--spacing-md);
    gap: 1rem;

    background-color: var(--debug-background);
    color: var(--debug-text);

    border: 1px solid var(--debug-border);
    border-radius: 5px;

    z-index: 1000;
}

.debug-panel p {
    font-size: var(--font-size-xxxs);
}

.debug-panel h6 {
    font-size: var(--font-size-xxs);
}
